data/stata/China_pre_post.dta
data/stata/export/Rice_2nd_mid_stata_validation_weather_grain_month.dta
data/triple_infer_entries.json.bak
data/binary_infer_entries.json
data/data.pkl
data/validation/month_3topics_10_18.dta
data/validation/guwen_bert_month_3topics.dta
logs/guwen-bert.pt
logs/triple-guwen-bert.pt
.git/objects/da/tmp_obj_XvOZg5
.git/objects/da/tmp_obj_4SrW4d
.git/objects/96/a6adb4188dde6b39855e5553c393c5a57f54ae
logs/guwen-bert.pt
logs/triple-guwen-bert.pt
data/stata/China_pre_post.dta
data/stata/export/Rice_2nd_mid_stata_validation_weather_grain_month.dta
data/binary_infer_entries_bak.json
data/binary_infer_provinces.json
data/binary_infer_entries.json
data/data.pkl
data/validation/month_3topics_10_18.dta
data/validation/guwen_bert_month_3topics.dta
data/mongo_db_data.json
./.git/objects/da/tmp_obj_XvOZg5
./.git/objects/da/tmp_obj_4SrW4d
./logs/guwen-bert.pt
./logs/triple-guwen-bert.pt
./logs/four-guwen-bert.pt
./data/stata/export/mix_prob_Rice_2nd_mid_stata_validation_weather_grain_month.dta
./data/stata/export/Rice_2nd_mid_stata_validation_weather_grain_month.dta
./data/stata/export/quadruple_Rice_2nd_mid_stata_validation_weather_grain_month.dta
./data/binary_infer_entries_bak.json
./data/binary_infer_provinces.json
./data/four_infer_entries.json
./data/binary_infer_entries.json
./data/data.pkl
./data/validation/month_3topics_10_18.dta
./data/validation/guwen_bert_month_3topics.dta
./data/mongo_db_data.json

# Automatically ignored files >100MB
data/Scripta_Sinica_Plain.txt
data/data.pkl
temp/triple-guwen-bert.pt
temp/entries.pickle
logs/bert-ancient-chinese/second_four-guwen-bert.pt
logs/bert-ancient-chinese/four-guwen-bert.pt
logs/bert-ancient-chinese/five-guwen-bert.pt
logs/bert-ancient-chinese/guwen-bert.pt
logs/bert-ancient-chinese/triple-guwen-bert.pt
logs/guwenbert-base/second_four-guwen-bert.pt
logs/guwenbert-base/four-guwen-bert.pt
logs/guwenbert-base/five-guwen-bert.pt
logs/guwenbert-base/guwen-bert.pt
logs/guwenbert-base/triple-guwen-bert.pt
logs/chinese-roberta-wwm-ext/second_four-guwen-bert.pt
logs/chinese-roberta-wwm-ext/four-guwen-bert.pt
logs/chinese-roberta-wwm-ext/five-guwen-bert.pt
logs/chinese-roberta-wwm-ext/guwen-bert.pt
logs/chinese-roberta-wwm-ext/triple-guwen-bert.pt
logs/bert-base-chinese/second_four-guwen-bert.pt
logs/bert-base-chinese/four-guwen-bert.pt
logs/bert-base-chinese/five-guwen-bert.pt
logs/bert-base-chinese/guwen-bert.pt
logs/bert-base-chinese/triple-guwen-bert.pt

# Automatically ignored files >100MB
data/four_infer_entries.json
data/Scripta_Sinica_Plain.txt
data/binary_infer_entries.json
data/data.pkl
data/stata/export/quadruple_Rice_2nd_mid_stata_validation_weather_grain_month.dta
temp/triple-guwen-bert.pt
temp/entries.pickle
logs/bert-ancient-chinese/second_four-guwen-bert.pt
logs/bert-ancient-chinese/four-guwen-bert.pt
logs/bert-ancient-chinese/five-guwen-bert.pt
logs/bert-ancient-chinese/guwen-bert.pt
logs/bert-ancient-chinese/triple-guwen-bert.pt
logs/guwenbert-base/second_four-guwen-bert.pt
logs/guwenbert-base/four-guwen-bert.pt
logs/guwenbert-base/five-guwen-bert.pt
logs/guwenbert-base/guwen-bert.pt
logs/guwenbert-base/triple-guwen-bert.pt
logs/chinese-roberta-wwm-ext/second_four-guwen-bert.pt
logs/chinese-roberta-wwm-ext/four-guwen-bert.pt
logs/chinese-roberta-wwm-ext/five-guwen-bert.pt
logs/chinese-roberta-wwm-ext/guwen-bert.pt
logs/chinese-roberta-wwm-ext/triple-guwen-bert.pt
logs/bert-base-chinese/second_four-guwen-bert.pt
logs/bert-base-chinese/four-guwen-bert.pt
logs/bert-base-chinese/five-guwen-bert.pt
logs/bert-base-chinese/guwen-bert.pt
logs/bert-base-chinese/triple-guwen-bert.pt

# Automatically ignored files >100MB
data/four_infer_entries.json
data/Scripta_Sinica_Plain.txt
data/binary_infer_entries.json
data/data.pkl
data/stata/export/quadruple_Rice_2nd_mid_stata_validation_weather_grain_month.dta
temp/triple-guwen-bert.pt
temp/entries.pickle
logs/guwenbert-base.zip
logs/bert-ancient-chinese/second_four-guwen-bert.pt
logs/bert-ancient-chinese/four-guwen-bert.pt
logs/bert-ancient-chinese/five-guwen-bert.pt
logs/bert-ancient-chinese/guwen-bert.pt
logs/bert-ancient-chinese/triple-guwen-bert.pt
logs/guwenbert-base/second_four-guwen-bert.pt
logs/guwenbert-base/four-guwen-bert.pt
logs/guwenbert-base/five-guwen-bert.pt
logs/guwenbert-base/guwen-bert.pt
logs/guwenbert-base/triple-guwen-bert.pt
logs/chinese-roberta-wwm-ext/second_four-guwen-bert.pt
logs/chinese-roberta-wwm-ext/four-guwen-bert.pt
logs/chinese-roberta-wwm-ext/five-guwen-bert.pt
logs/chinese-roberta-wwm-ext/guwen-bert.pt
logs/chinese-roberta-wwm-ext/triple-guwen-bert.pt
logs/bert-base-chinese/second_four-guwen-bert.pt
logs/bert-base-chinese/four-guwen-bert.pt
logs/bert-base-chinese/five-guwen-bert.pt
logs/bert-base-chinese/guwen-bert.pt
logs/bert-base-chinese/triple-guwen-bert.pt
